body {	
	background: #fbfbf8;
    font-family: 'Lato', sans-serif;
    color: darkslategrey !important;
}
::selection {
    background: darkslategrey;
    color: white;
}

h1, nav, footer, .title-font {
    font-family: 'Major Mono Display', monospace;
}

.darkslategrey {
    background: darkslategrey !important;
}

.darkslategrey-text {
    color: darkslategrey !important;
}

.btn-floating {
    border-radius: 0 !important;
}

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px lightslategray, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05) !important;
}

.vertical-timeline::before {
    background: darkslategray !important;
}
