body {	
	background: #fbfbf8;
    font-family: 'Lato', sans-serif;
    color: darkslategrey !important;
}
::selection {
    background: darkslategrey;
    color: white;
}

nav .brand-logo, nav ul a {
    color: darkslategrey !important;
}

h1, nav {
    font-family: 'Major Mono Display', monospace;
}

